<launch>
  <group ns="narrow_left" >
    <node pkg="camera1394"
	  type="camera1394_node"
	  name="camera1394_node"
	  machine="hrp2v"
	  respawn="true" >
      <param
	 name="camera_info_url"
	 value="file://$(find $(env ROBOT))/launch/calibration/narrow_left.yaml" />
      <rosparam
	 file="$(find $(env ROBOT))/launch/narrow_left.yaml" />
    </node>
    <include
       file="$(find $(env ROBOT))/launch/image_pipeline.launch" />
  </group>

  <group ns="narrow_right" >
    <node pkg="camera1394"
	  type="camera1394_node"
	  name="camera1394_node"
	  machine="hrp2v"
	  respawn="true" >
      <param
	 name="camera_info_url"
	 value="file://$(find $(env ROBOT))/launch/calibration/narrow_right.yaml" />
      <rosparam
	 file="$(find $(env ROBOT))/launch/narrow_right.yaml" />
    </node>
    <include
       file="$(find $(env ROBOT))/launch/image_pipeline.launch" />
  </group>

  <group ns="wide_left" >
    <node pkg="camera1394"
	  type="camera1394_node"
	  name="camera1394_node"
	  machine="hrp2v"
	  respawn="true" >
      <param
	 name="camera_info_url"
	 value="file://$(find $(env ROBOT))/launch/calibration/wide_left.yaml" />
      <rosparam
	 file="$(find $(env ROBOT))/launch/wide_left.yaml" />
    </node>
    <include
       file="$(find $(env ROBOT))/launch/image_pipeline.launch" />
  </group>

  <group ns="wide_right" >
    <node pkg="camera1394"
	  type="camera1394_node"
	  name="camera1394_node"
	  machine="hrp2v"
	  respawn="true" >
      <param
	 name="camera_info_url"
	 value="file://$(find $(env ROBOT))/launch/calibration/wide_right.yaml" />
      <rosparam
	 file="$(find $(env ROBOT))/launch/wide_right.yaml" />
    </node>
    <include
       file="$(find $(env ROBOT))/launch/image_pipeline.launch" />
  </group>
</launch>
